.main-space
  .main-space__info
    .main-space__info--name-pad
      = link_to current_user.name, user_path(current_user), class: "main-space__info--name"
    = link_to 'ホーム', root_path, class: "btn__home"
    = link_to "グループ作成", new_group_path, class: "btn__edit"
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn__delete"
    .main-space__info--new-post
    = link_to new_post_path, class: "main-space__info--new-post__btn" do
      %i.fas.fa-plus-circle

  .again-search
    %h1 追加検索
    = search_form_for @search, url: again_search_posts_path do |f|
      = f.select( :sorts, { '並び替え': 'id desc', '投稿の古い順': 'updated_at asc', '投稿の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'})
      = f.search_field :title_cont, placeholder: "寺、神社の名前", class: "main-space__search--text"
      = f.search_field :content_cont, placeholder: "日記の内容", class: "main-space__search--text"
      = f.submit "完了", class: "main-space__search--btn"
  .main-space__contents
    .main-space__search
    .search-result
    - @search_posts.each do |post|
      - unless post.status == 2
        .main-space__contents--title
          = image_tag post.image.url, class: "main-space__contents--title__image"
          .main-space__contents--title__over
            = link_to post.title, post_path(post.id), class: "main-space__contents--title__text"
          .main-space__contents--title__teb
            = link_to post.user.name, user_path(post.user), class: "main-space__contents--title__name"
    = paginate(@search_posts)