.wrapper
  = render "side-bar"
  .main-space
    %h3 ※アイコンをクリックして写真をアップロード
    = form_for @post, html: { class: "new-content" } do |f|
      = f.label :image, class: "new-content__image" do
        %i.fa.fa-image
        = f.file_field :image, class: "new-content__image--file"
      .new-content__image--explanation
        ここに写真をアップロード
      - if @post.image.present?
        = image_tag @post.image, id: :img_prev
      - else
        = image_tag "34_chiyo005.jpg", id: :img_prev
      .new-content__image--js
        ※アップロードした画像が表示されます
      .new-content__group-all
        %label{:for => "group-list-menu"}
          .new-content__groups-select
            = "変更したいグループがある場合は選択してください"
            %i.fas.fa-angle-down
        %input.new-content__group-list#group-list-menu{:type =>"checkbox"}
          %ul.new-content__select-boxes
            = f.collection_check_boxes(:group_ids, Group.all, :id, :name) do |group|
              %li.new-content__select-boxes--text
                = group.check_box
                = group.object.name
      .new-content__title-areas
        = f.text_field :title, placeholder: :寺、神社の名前, class: "new-content__title"
      .new-content__text-areas
        = f.text_area :content, placeholder: :感想, class: "new-content__text"
      .new-content__status-areas
        = f.radio_button :status, "1", id:"status-select", class: "status-select__btn"
        = f.label "公開する", for:"status-select", class: "status-select"
        = f.radio_button :status, "2", id:"status-select", class: "status-select__btn"
        = f.label "非公開にする", for:"status-select", class: "status-select"
        = f.submit "保存", class: "new-content__submit", data: { confirm: '編集を完了しますか？' }
      .btn
        = link_to 'ホーム', root_path, class: "btn__home", data: { confirm: 'ホームへ戻りますか？' }