.wrapper
  = render "side-bar"
  .main-space
    = form_for @post, html: { class: "new-content" } do |f|
      = f.label :image, class: "new-content__image" do
        %i.fa.fa-image
        = f.file_field :image, class: "new-content__image--file"
      .new-content__image--explanation
        ここに写真をアップロード
      .new-content__title-areas
        = f.text_field :title, placeholder: :寺、神社の名前, class: "new-content__title"
      .new-content__text-areas
        = f.text_area :content, placeholder: :感想, class: "new-content__text"
        = f.submit "保存", class: "new-content__submit"
      .btn
        = link_to 'ホーム', root_path, class: "btn__home"